<html>
<head>
    <title>Linded Data Dev</title>
</head>
<body>

<h1>Linded Data Dev</h1>

<p><strong>For instruction on grenerating/refreshing this data view the README.md in the root of the Symfony install.</strong></p>

<p><a href='{{ asset('coverage/index.html') }}'>View test coverage (as of {{ coveragemtime }})</a></p>
<p><a href='{{ asset('docs/index.html') }}'>View API Docs (as of {{ docsmtime }})</a></p>

</body>
</html>