<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
  <title>API Search</title>
  <link rel="icon" href="{{ asset("bundles/ldapi/favicon.png") }}" />
</head>

<body>
    {% block main %}
        CONTENT
    {% endblock %}
</body>
</html>
